@model IEnumerable<ProductSite.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
  <h1>List of Products</h1>
  <p>
      <a asp-action="Create">Create New</a>
  </p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
      @foreach (var item in Model) {
          <div class="col">
              <div class="card h-100">
                <div class="card-body d-flex align-items-start flex-column bd-highlight mb-3">
                    <h5 class="card-title mb-5">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <div id="productDescription mb-3" class="card-text mb-3">@Html.DisplayFor(modelItem => item.Description)</div>
                </div>

                <div class="ps-3">
                    <label for="productPrice">Pris:</label>
                    <div id="productPrice" class="card-text mb-3">@Html.DisplayFor(modelItem => item.Price) kr</div>
                    <label for="productStock">Saldo:</label>
                    <div id="productStock" class="card-text">@Html.DisplayFor(modelItem => item.inStock)</div>
                </div>
                

                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </div>

              </div>  
          </div>     
      }    
  </div>
</div>


