@model UniversityPortal.Entities.SchoolClass

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Detaljer</h1>

    <div>
        <h4>Skolklass</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Klassnamn
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClassName)
            </dd>
            <dt class="col-sm-2">
                Klasstart
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClassStart)
            </dd>
            <dt class="col-sm-2">
                Examination
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClassEnd)
            </dd>
            <dt class="col-sm-2">
                Lärare
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn custombutton" asp-action="Edit" asp-route-id="@Model.Id">Uppdatera</a> |
        <a class="btn custombutton"asp-action="Index">Tillbaka</a>
    </div>
</div>

